@font-face {
    font-family: 'NextStop-Blocky';
    src: url('../fonts/NextStop-blocky.otf');
}

@font-face {
    font-family: 'NextStop-doubledots';
    src: url('../fonts/NextStop-doubledots.otf');
}

